*.o
*.out
*.patch
*.pdf
*.pyc
*.txt
*.so
*.d
*.pcm
*_down.xml
*_up.xml
Analysis
Plots/
QG*PUPPI.xml
Selection
config/workdir*
jobTempOutput*
obj
*_ScaleVariationMuR_*_ScaleVariationMuF_*.xml
*PDFvariations_true.xml
uhh*.root
